[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
pandas = "*"
django-cors-headers = "*"
gunicorn = "*"
psycopg2 = "*"
python-decouple = "*"
django-celery-beat = "*"
django-storages = "*"
boto3 = "*"
django-celery-results = "*"
celery = "*"

[requires]
python_version = "3.7"
