[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
pandas = "*"
django-cors-headers = "*"
djangorestframework-gis = "*"
django-environ = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
